/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
body {
	font-family: 'Open Sans', Hellvetica, Arial, sans-serif;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/* @group General */

.inner {
	margin: 0 auto;
	max-width: 58.8rem;
	width: 93%;
	padding: 0 10px;
}
.wrap {
	width: 100%;
}

.lblue  {
	background: #dceffe;
}
.dblue {
	background: #438aca url(/img/site_bg.png) no-repeat 25% top;
}
.grey {
	background: #f6f6f6;
}
.centered-text {
	text-align: center;
}
.col-4 {
	width: 25%;
	float: left;
}
.last {
	text-align: right;
	margin-right: 0;
	padding-right: 0;
}
.left {
	float: left;
}
.right {
	float: right;
}
/* @end */

/* @group Typography */
h1 {
	font-family: Klinic Slab, Georgia, serif;
	font-size: 36px;
	font-weight: 100;
	margin-top: 0;
	padding-top: 46px;
	letter-spacing: 0.03em;
	margin-bottom: 0;
}
p {
	font-family: 'Klinic Slab', 'Times New Roman', Georgia, serif;
	color: #212223;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 20px;
}

/* @end */

/* @group Nav */

.prenav {
	background: #3c4e5c;
	height: 23px;
}
.prenav a {
	color: #fff;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 23px;
	text-decoration: none;
}
.logo-bar {
	padding-top: 19px;
	padding-bottom: 5px;
}
.logo {
	margin-left: 10px;
}
.logo a {
	float: left;
	background: url(../img/logo.png) no-repeat;
	width: 225px;
	height: 98px;
	text-indent: -9999em;
}
.contact-detes {
	float: right;
}
#nav {
	padding: 16px 0 22px 0;
	margin: 0 0 0 0;
}
#nav li {
	list-style: none;
	float: left;	
}
#nav li a {
	float: left;
	border-top: 6px solid #a2def9;
	width: 89%;
	color: #3d4e5b;
	font-size: 13px;
	text-decoration: none;
	font-weight: 700;
	padding-left: 12px;
	padding-top: 10px;
	line-height: 16px;
}
#nav li a:hover, #nav li.sticky {
	border-color: #3c4e5c;
}
.subnav {
	display: block;
	font-weight: normal;
}
#nhome {
	width: 18.936%;
	margin-right: 1px;
}
#naboutp, #nabout, #nconditions, #ntreatments, #ncontact {
	width: 12.127%;
	margin-right: 1px;
}
#nsearch {
	width: 18.936%;
}
#nav #nhome a, #nav #nsearch a {
	width: 93%;
} 
/* @end */

/* @group Home Page */
.callouts .inner {
	padding: 51px 0;
}
.callouts-wrap {
	width: 87.23%;
	margin: 0 auto;
}
.callout-panel {
	width: 29%;
	float: left;
	padding: 0 2.11111%;
}
.callout-panel h2 {
	font-family: 'Open Sans';
	font-weight: 400;
	text-decoration: none;
	font-size: 32px;
	line-height: 41px;
	margin-top: 18px;
	margin-bottom: 10px;
}
.subtitle {
	font-family: 'Klinic Slab', Georgia, serif;
	font-size: 43px;
	font-weight: lighter;
}
.callout-panel a {
	text-decoration: none;
	color: #3c4e5c;
}
.callout-panel p {
	padding: 14px 34px 0;
	background: url(/img/border.png) no-repeat top center;
	margin-top: 0;
}
.slider {
	text-align: center;
	padding-top: 54px;
	padding-bottom: 22px;
}
.slider-text h2 {
	margin-top: 0;
	color: #fff;
	font-size: 36px;
	-webkit-font-smoothing: antialiased;
	font-family: 'Klinic Slab', Georgia, serif;
	font-weight: lighter;
	padding: 5px 164px;
	line-height: 43px;
}
/* @end */

/* @group footer */

.logo-bar-footer {
	border-top: 1px solid #346fa2;
	padding-top: 33px;
	padding-bottom: 40px;
}
.logo-bar-footer a {
	padding: 0 6px;
}
.bucket1 {
	float: left;
	padding: 55px 0;
	width: 25.532%;
	margin-right: 3.191%;
}
.flogo a {
	background: url(/img/flogo.png) no-repeat;
	display: block;
	width: 148px;
	height: 64px;
	text-indent: -999999em;
}
.bucket1 p, .bucket1 h4 {
	margin-left: 34px;
}
.bucket2 {
	width: 23.404%;
	float: left;
	padding-top: 70px;
}
.bucket3 {
	width: 20%;
	float: left;
	margin-top: 70px;
	margin-right: 6.593%;
	background: url(/img/borderV.png) no-repeat right center;
}
.bucket4 {
	float: left;
	padding-top: 73px;
	width: 21.28%
	
}
.bucket4 ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.bucket4 ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #3d4e5b;
	font-weight: 300;
	
}
footer p {
	margin-top: 0;
	font-size: 13px;
	font-family: 'Open Sans';
	line-height: 18px;
}
footer h4 {
	color: #3d4e5b;
	font-size: 15px;
	font-family: 'Klinic Slab';
	margin-bottom: 0;
	line-height: 9px;
	margin-top: 25px;
}
.blueletter {
	color: #a2c6e6;
	margin-right: 10px;
}
.social {
	margin-left: 34px;
	margin-top: 17px;
}
.social a {
	margin-right: 10px;
}
/* @end */

/* @group About */

.text-top {
	max-width: 650px;
	height: 100%;
	padding-left: 12.766%;
	color: #fff;
	padding-bottom: 35px;
}
.text-top p {
	color: #fff;
	margin-top: 8px;
	font-size: 22px;
	font-weight: 100;
	line-height: 24px;
	letter-spacing: 0.03em;
}
.about-wrap {
	padding-top: 68px;
	padding-left: 6.363%;
	padding-bottom: 80px;
	
}
.about-left {
	float: left;
	width: 31.487%;
	margin-right: 8.511%;
}
.about-right {
	float: right;
	width: 59.219%;
	margin-top: -21px;
}
.caption {
	font-size: 12px;
	margin-top: 10px;
	font-style: italic;
}
/* @end */

/* @group Doctors */

.doctors-main .wrap {
	padding-bottom: 55px;
}
.doctors-wrap {
	width: 74.468%;
	margin: -124px auto 0;
}
.half-box {
	width: 50%;
	float: left;
	position: relative;
}

.box-content {
	background: rgba(10,40,64,.82);
	position: absolute;
	top: 50%;
	height: 90px;
	color: #fff;
	text-align: center;
	display: table;
	margin-top: -45px;
	width: 100%;
}
.half-box a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.half-box a:hover {
	background: rgba(10,40,64,.82);
	-webkit-transition: all 1s ease;
	  -moz-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	  -o-transition: all 1s ease;
	  transition: all 1s ease;
}
.half-box a:hover .box-content {
	background: none;
	-webkit-transition: all 1s ease;
	  -moz-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	  -o-transition: all 1s ease;
	  transition: all 1s ease;
}
.doctors-intro .wrap {
	padding-bottom: 120px;
}
.box-content-inner {
	display: table-cell;
	vertical-align: middle;
}
.box-content h3 {
	font-family: 'Klinic Slab';
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	font-size: 24px;
	margin: 0;
	padding-top: 13px;
	width: 100%;
}
.box-content p {
	color: #fff;
	font-size: 10px;
	font-family: 'Open Sans';
	padding: 0 70px;
	line-height: 12px;
	margin-top: 0;
}
.box-content h2 {
	font-family: 'Klinic Slab';
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	font-size: 36px;
	margin: 0 auto;
	width: 59%;
	line-height: 36px;
}
/* @end */

/* @group Doc Detail */

.bio-left {
	width: 29.787%;
	float: left;
	padding: 118px 8.511% 0 6.383%;
}
.bio-right {
	width: 55.319%;
	float: left;
}
.bio-main .wrap {
	border-top: 1px solid #438aca;
	padding-bottom: 85px;
}
.bio-right h1 {
	line-height: 36px;
}
.bio-right h2 {
	color: #00aeef;
	font-size: 18px;
	font-weight: 100;
	margin: 0;
	line-height: 18px;
}
.back {
	background: url(/img/border_end.png)repeat-x left top;
	padding-bottom: 10px;
}
.back a {
	color: #3d4e5b;
	font-weight: bold;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 13px;
}

/* @end */

/* @group Conditions */

.conditions.box-content {
	height: 122px;
	margin-top: -58px;
}

/* @end */
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
/* Styles */
.slider-text h2 {
	padding: 5px 0;
}
.callout-panel {
	width: 100%;
	float: none;
	padding: 0;
	margin-bottom: 10px;
}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
