{embed='global/header1'}
<title>CSC - Comprehensive Spine Care, P.A.</title>
{embed='global/header2'}
<section class="condition1">
	<div class="wrap grey">
  		<div class="inner clearfix">
  			<div class="single-column">
		 		<h1>Anterior Cervical Discectomy and Fusion (ACDF)</h1>
		 		<p>An Anterior Cervical Discectomy and Fusion (ACDF) is one of the most common spinal operations performed for treatment of disorders in the cervical spine (neck area.)</p>
		 		<img src="/img/home_video.jpg" alt="" width="100%" />
		 	</div>
		</div>
	</div>
</section>
<section class="condition2">
	<div class="wrap grey">
		<div class="inner clearfix">
			<div class="col8-left">
				<h3>Symptoms of a Cervical Disc Herniation (Disc Herniation in the neck area):</h3>
				<ul>
					<li>Muscle Spasm in the neck and shoulder.</li>
					
					<li> Moderate to Severe pain in the neck and around the shoulder 
					blades (scapula).</li>
					
					<li>Cervical Radiculopathy. The symptoms from a nerve compressed 
					by a disc herniation (pinched nerve) include pain, burning, numbness, or tingling from the neck into the shoulders, arms, forearms, and hands.</li>
					
					<li>Weakness may result in the muscles of the arms and hands 
					if there is significant pressure on the nerves.</li>
				</ul>	
			</div>
			<div class="col5-right">
				<blockquote>Pull Quote about the Condition clicked on goes here. It could beuseful information ora call to action.</blockquote>
			</div>
		</div>
	</div>
</section>
<section class="condition3">
	<div class="wrap lblue">
		<div class="inner clearfix">
			<div class="col8-left">
				<h3>Treatments:</h3>
				<p>The majority of disc herniations do not require surgery. Common non-surgical treatment options include:</p>
				<ul>
					<li>Physical Therapy</li>
					
					<li>Anti-inflammatory medications</li>
					
					<li>Epidural Injections</li>
				</ul>
				<p>When pain symptoms are severe, if there is significant muscle weakness, or your overall condition deteriorates surgery may be necessary. The surgeons at Comprehensive Spine Care will develop a treatment plan based on your symptoms, physical exam, and MRI results. </p>
				 
				<p>For a lumbar disc herniation, surgery typically would be a Lumbar Microdiscectomy.</p>
				 
				<p>For a cervical disc herniation, the most common surgical options are <strong>Posterior Cervical Discectomy/Foraminotomy,  Anterior Cervical Discectomy< and Fusion</strong>, or an <strong>Artificial Disc Replacement</strong>.</p>
			</div>
			<div class="col5-right">
				<img src="/img/placeholder.jpg" alt="" width="100%" />
				<p class="caption">Caption Goes Here</p>
			</div>
		</div>
	</div>
</section>
{embed='global/footer'}