{embed='global/header1'}
<title>CSC - Comprehensive Spine Care, P.A.</title>
{embed='global/header2'}
<section class="testimonial-header">
	<div class="wrap dblue">
  		<div class="inner clearfix">
  			<div class="text-top">
		 		<h1>Testimonials</h1>
		 		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</h2>
		 	</div>
		</div>
	</div>
</section>
<section class="testimonials">
	<div class="wrap grey">
		<div class="inner clearfix">
			<div class="testimonial">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="quotee">-Patientname Goesinthisplace</p>
			</div>
		</div>
	</div>
	<div class="wrap lblue">
  		<div class="inner clearfix">
  			<div class="testimonial">
	  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	  			<p class="quotee">-Patientname Goesinthisplace</p>
	  		</div>
  		</div>
	</div>
	<div class="wrap grey">
		<div class="inner clearfix">
			<div class="testimonial">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="quotee">-Patientname Goesinthisplace</p>
			</div>
		</div>
	</div>
	<div class="wrap lblue">
			<div class="inner clearfix">
				<div class="testimonial">
	  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	  			<p class="quotee">-Patientname Goesinthisplace</p>
	  		</div>
			</div>
	</div>
	<div class="wrap grey">
		<div class="inner clearfix">
			<div class="testimonial">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="quotee">-Patientname Goesinthisplace</p>
			</div>
		</div>
	</div>
	<div class="wrap lblue">
			<div class="inner clearfix">
				<div class="testimonial">
	  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	  			<p class="quotee">-Patientname Goesinthisplace</p>
	  		</div>
			</div>
	</div>
</section>
{embed='global/footer'}