{embed='global/header1'}
<title>CSC - Comprehensive Spine Care, P.A.</title>
{embed='global/header2'}
<section class="condition1">
	<div class="wrap grey">
  		<div class="inner clearfix">
  			<div class="single-column">
		 		<h1>Herniated Disc</h1>
		 		<h2>A herniated disc is one of the most common conditions  that necessitates a visit to a spine specialist.</h2>
		 		<p>A herniated disc is commonly referred to as a “slipped”, “ruptured” or “bulging” disc. Disc Herniations may occur anywhere in the cervical (neck area), lumbar (lower back area), or thoracic (chest area) spine. A herniated disc refers to a condition where a portion of the disc moves into the spinal canal, causing pressure on the spinal cord or nerves.</p>
		 		 
		 		<p>The disc (intervertebral disc) is a compressible cushion between the bones (vertebrae) in the spine. The disc is an important structure, which allows for spinal motion while helping to protect the spinal cord and nerves in the spinal canal.</p>
		 	</div>
		</div>
	</div>
</section>
<section class="condition2">
	<div class="wrap lblue">
  		<div class="inner clearfix">
  			<div class="col2-left">
  				<h3>Symptoms:</h3>
  				<p>The symptoms of a disc herniation depend on where in the body the disc herniation occurs and if there is significant pressure on a nerve.  Symptoms may be relatively mild to quite incapacitating depending on the type of disc herniation.</p>
  			</div>
  			<div class="col2-right">
  				<h3>Causes</h3>
  				<p>A herniated disc can occur to individuals of all ages. Factors that increase the risk of a disc herniation include:</p>
  				<ul>
	  				<li>Falling</li>
	  				<li>Heavy or repetitive lifting or twisting</li>
	  				<li>Aging</li>
	  				<li>Motor Vehicle accidents</li>
	  			</ul>
  			</div>
		</div>
	</div>
</section>
<section class="condition3">
	<div class="wrap grey">
  		<div class="inner clearfix">
  			<div class="col5-left">
  				<img src="/img/placeholder.jpg" alt="" width="100%" />
  				<p class="caption">Caption Goes Here</p>
  			</div>
  			<div class="col8-right">
  				<h3>Symptoms of a Lumbar Disc Herniation (Disc Herniation in the lower back):</h3>
  				<ul>
  					<li>Muscle Spasm in the lower back</li>
  					
  					<li>Moderate to Severe pain in the lower back and buttocks</li>
  					
  					<li>Lumbar Radiculopathy (Sciatica).  The symptoms from a nerve compressed by a disc herniation (pinched nerve) include pain, burning, numbness, or tingling from the lower back into the buttocks, thighs, legs and feet.</li>
  					
  					<li>Weakness may result in the muscles of the leg and feet if there is significant pressure on the nerves.</li>
  				</ul>		  			</div>
		</div>
		<div class="inner clearfix">
			<div class="col8-left">
				<h3>Symptoms of a Cervical Disc Herniation (Disc Herniation in the neck area):</h3>
				<ul>
					<li>Muscle Spasm in the neck and shoulder.</li>
					
					<li> Moderate to Severe pain in the neck and around the shoulder 
					blades (scapula).</li>
					
					<li>Cervical Radiculopathy. The symptoms from a nerve compressed 
					by a disc herniation (pinched nerve) include pain, burning, numbness, or tingling from the neck into the shoulders, arms, forearms, and hands.</li>
					
					<li>Weakness may result in the muscles of the arms and hands 
					if there is significant pressure on the nerves.</li>
				</ul>	
			</div>
			<div class="col5-right">
				<blockquote>Pull Quote about the Condition clicked on goes here. It could beuseful information ora call to action.</blockquote>
			</div>
		</div>
		<div class="inner clearfix">
			<div class="col12">
				<img src="/img/home_video.jpg" alt="" width="100%" />
			</div>
		</div>
		<div class="inner clearfix">
			<div class="col8-left">
				<h3>Treatments:</h3>
				<p>The majority of disc herniations do not require surgery. Common non-surgical treatment options include:</p>
				<ul>
					<li>Physical Therapy</li>
					
					<li>Anti-inflammatory medications</li>
					
					<li>Epidural Injections</li>
				</ul>
				<p>When pain symptoms are severe, if there is significant muscle weakness, or your overall condition deteriorates surgery may be necessary. The surgeons at Comprehensive Spine Care will develop a treatment plan based on your symptoms, physical exam, and MRI results. </p>
				 
				<p>For a lumbar disc herniation, surgery typically would be a Lumbar Microdiscectomy.</p>
				 
				<p>For a cervical disc herniation, the most common surgical options are <strong>Posterior Cervical Discectomy/Foraminotomy,  Anterior Cervical Discectomy< and Fusion</strong>, or an <strong>Artificial Disc Replacement</strong>.</p>
			</div>
			<div class="col5-right">
				<img src="/img/placeholder.jpg" alt="" width="100%" />
				<p class="caption">Caption Goes Here</p>
			</div>
		</div>
	</div>
</section>
{embed='global/footer'}