{embed='global/header1'}
<title>CSC - Comprehensive Spine Care, P.A.</title>
{embed='global/header2'}
<section class="doctors-intro">
	<div class="wrap dblue">
		<div class="inner">
			<div class="text-top">
          		<h1>Conditions</h1>
      			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis nisi auctor, elementum elit quis, rhoncus massa.</p>
      		</div>
        </div>
    </div>
</section>
<section class="doctors-main">
	<div class="wrap grey">
  		<div class="inner clearfix">
	  		<div class="doctors-wrap">
		 		<div class="half-box">
		 			<a href="{url_title_path='conditions/detail'}">
		 			<div class="box-content conditions">
		 				<div class="box-content-inner">
		 					<h2>Herniated Disk</h2>
		 				</div>
		 			</div>
		 			</a>
		 			<img src="/img/team_placeholder.png" alt="" width="100%" />
		 		</div>
		 		<div class="half-box">
		 			<a href="{url_title_path='conditions/detail'}">
		 			<div class="box-content conditions">
		 				<div class="box-content-inner">
		 					<h2>Spinal Stenosis</h2>
		 				</div>
		 			</div>
		 			</a>
		 			<img src="/img/team_placeholder.png" alt="" width="100%" />
		 		</div>
		 		<div class="half-box">
		 			<a href="{url_title_path='conditions/detail'}">
		 			<div class="box-content conditions">
		 				<div class="box-content-inner">
		 					<h2>Spine Trauma & Fractures</h2>
		 				</div>
		 			</div>
		 			</a>
		 			<img src="/img/team_placeholder.png" alt="" width="100%" />
		 		</div>
		 		<div class="half-box">
		 			<a href="{url_title_path='conditions/detail'}">
			 			<div class="box-content conditions">
			 				<div class="box-content-inner">
			 					<h2>Scoliosis</h2>
			 				</div>
			 			</div>
			 		</a>
		 			<img src="/img/team_placeholder.png" alt="" width="100%" />
		 		</div>
		 		<div class="half-box">
			 		<a href="{url_title_path='conditions/detail'}">
			 			<div class="box-content conditions">
			 				<div class="box-content-inner">
			 					<h2>Spine Tumors</h2>
			 				</div>
			 			</div>
		 			</a>
		 			<img src="/img/team_placeholder.png" alt="" width="100%" />
		 		</div>
		 		<div class="half-box">
		 			<a href="{url_title_path='conditions/detail'}">
			 			<div class="box-content conditions">
			 				<div class="box-content-inner">
			 					<h2>Spondylolisthesis</h2>
			 				</div>
			 			</div>
			 		</a>
		 			<img src="/img/team_placeholder.png" alt="" width="100%" />
		 		</div>
			</div>
		</div>
	</div>
</section>
{embed='global/footer'}