		<footer>
			<div class="wrap lblue logo-bar-footer">
				<div class="inner clearfix">
					<a href="http://" target="_blank"><img src="/img/ms_logo.png" alt="" /></a>
					<a href="http://" target="_blank"><img src="/img/vhs_logo.png" alt="" /></a>
					<a href="http://www.hackensackumc.org/" target="_blank"><img src="/img/humc_logo.jpg" alt="" /></a>
					<a href="http://" target="_blank"><img src="/img/humcpv_logo.png" alt="" /></a>
					<a href="http://" target="_blank"><img src="/img/hcsc_logo.png" alt="" /></a>
				</div>
			</div>
			<div class="wrap grey">
				<div class="footer inner clearfix">
					<div class="bucket1 clearfix">
						<div class="flogo">
							<a href="{site_url}">CSC - Comprehensive Spine Care, P.A.</a>
						</div>
						<div class="mailing">
							<h4>Mailing Address</h4>
							<p>P.O. Box 631<br />
							Westwood, NJ  07675</p>
							<div class="social clearfix">
								<a href=""><img src="/img/icon_tw.png" alt="" /></a>
								<a href=""><img src="/img/icon_fb.png" alt="" /></a>
							</div>
						</div>
					</div>
					<div class="mobile-wrap">
						<div class="bucket2">
							<h4>Emerson Office:</h4>
							<p>466 Old Hook Road<br />
							Suite 16<br />
							Emerson, NJ  07630</p>
							 
							<p><span class="blueletter">T</span> <strong>201 634 1811</strong></p>
						</div>
						<div class="bucket3">
							<h4>Clifton Office:</h4>
							<p>925 Clifton Ave<br />
							Suite 200<br />
							Clifton, NJ  07013</p>
							 
							<p><span class="blueletter">T</span> <strong>201 634 1811</strong></p>
						</div>
					</div>
					<div class="bucket4">
						<ul class="footernav">
							<li><a href="{site_url}">Home</a></li>
							<li><a href="{path=''}">About The Practice</a></li>
							<li><a href="{path=''}">About The Doctors</a></li>
							<li><a href="{path=''}">Conditions</a></li>
							<li><a href="{path=''}">Treatments</a></li>
							<li><a href="{path=''">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>


<script src="/js/responsive-nav.min.js"></script>
<script src="http://malsup.github.com/jquery.cycle2.js"></script>
<script src="/js/jquery.cycle2.carousel.min.js"></script>
<script>
  var nav = responsiveNav(".nav-collapse");
</script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>
</html>