{embed='global/header1'}
<title>CSC - Comprehensive Spine Care, P.A.</title>
{embed='global/header2'}
<section class="slideshow">
	<div class="wrap dblue">
		<div class="inner">
			<div class="cycle-slideshow" 
			    data-cycle-timeout="2000"
			    data-cycle-slides="> div.slider"
			       data-cycle-fx="fade"
			       data-cycle-pause-on-hover="true"
			    >
			    <div class="slider">
			    	<div class="slider-text">
			      		<h2>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis nisi auctor, elementum elit quis, rhoncus massa.</h2>
			      	</div>
			    		<img src="/img/home_video.jpg" alt="" width="100%"/>
			    </div>
			    <div class="slider">
			    	<div class="slider-text">
			      		<h2>2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis nisi auctor, elementum elit quis, rhoncus massa.</h2>
			      	</div>
			    		<img src="/img/home_video.jpg" alt="" width="100%"/>
			    </div>
			    <div class="slider">
			    	<div class="slider-text">
			      		<h2>3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis nisi auctor, elementum elit quis, rhoncus massa.</h2>
			      	</div>
			    		<img src="/img/home_video.jpg" alt="" width="100%"/>
			    </div>
			</div>
        </div>
    </div>
</section>
<section class="callouts grey">
	<div class="wrap">
  		<div class="inner">
	  		<div class="callouts-wrap clearfix">
		  	    <div class="callout-panel centered-text">
		  	      	<h2><a href="{path='doctors'}">About <br /><span class="subtitle">The Doctors</span></a></h2>
		  	      	<p>Learn about our team of skilled doctors.</p>     	  
		  	    </div>
		  	    <div class="callout-panel centered-text">
		  	      	<h2><a href="{path='testimonials'}">Patient <br /><span class="subtitle">Testimonials</span></a></h2>
		  	      	<p>See what our patients say about us.</p>     	  
		  	    </div>
		  	    <div class="callout-panel centered-text">
		  	      	<h2><a href="{path='contact'}">Make an <br /><span class="subtitle">Appointment</span></a></h2>
		  	      	<p>Contact us now to make an appointment.</p>     	  
		  	    </div>
			</div>
		</div>
	</div>
</section>
{embed='global/footer'}